$mobile: "only screen and (max-width : 767px)";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


li{
    list-style:none;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f3f5;
}
main {
    max-width:960px;
    margin:30px auto;
    padding:0px 15px;
}

h1 {
    margin:0 0 20px 0;
}

.link {
    text-decoration:none;
    color:#0084B4;
    &:hover {
        text-decoration: underline;
    }
}

.wrap-acoordion{
	background: #fff;
	padding: 8px 7px;
    cursor:pointer;
}

.question {
    font-size: 24px;
    color: #a9c056;
    position:relative;
    @media #{$mobile}{
        font-size:16px;
        padding-right: 50px;
    }
}
.question::before, .question::after {
    position: absolute;
    right: 24px;
    top: 50%;
    height: 4px;
    width: 16px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    content: '';
}
.question::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
    content: '';
}
.open .question::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: '';
}
.question::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: '';
}
.open .question::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
}
.item-acordion{
	margin-bottom: 10px;
    transition: box-shadow 0.2s;
    &:hover {
            box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
    }
}
.content-accordion {
    display: none;
    background: #fff;
    width: 100%;
    padding: 15px 15px 15px 15px;
    
}

